# nix
.direnv/
result
result-*

# terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tf.json

# secret
**/.env
**/.env.*

# railnix (this is testing purposes, do not ignore it in your real infrastructure)
**/railway.json
